@media only screen and (max-width: 992px) {
  .custom-margins-body {
    margin: 0;
  }
  .custom-title {
    padding: 0;
    font-size: 9vw;
  }
  .custom-title-padding {
    padding-left: 0;
    text-align: center;
  }
  .custom-sub-title {
    font-size: 3vw;
  }
  .custom-n-card-box {
    padding: 2vw 5vw 2vw 5vw;
  }
  .custom-up-number-size {
    font-size: 13px;
  }
  .custom-number-size {
    font-size: 20px;
  }
  .arrow-position {
    top: 65%;
  }
  .custom-section-2 {
    height: 100%;
    margin: 50px 0 50px 0;
  }
  .custom-middle-section-box {
    padding: 30px 10% 30px 10%;
  }
  .rocket-padding {
    padding: 10%;
  }
  .rocket-text {
    text-align: center;
    height: 100%;
    justify-content: center;
  }
  .rocket-box {
    display: none;
  }
  .custom-section-3-box {
    padding: 30px 0;
  }
  .custom-box-section-4 {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
  }
  .custom-section-4-right-txt {
    text-align: end;
  }
  .custom-button-box-right {
    justify-content: start;
    margin-top: 30px;
  }
  .custom-button-box-left {
    margin-top: 30px;
  }
  .custom-footer-text {
    text-align: center;
  }
}
