/* Globals and Root ------------------------------------ */
:root {
  --myBlue: #2b9df4;
  --myGray: #4b4b4b;
  --fp: 'Jura', sans-serif;
  --fs: 'Orbitron', sans-serif;
}

* {
  font-family: var(--fp);
  color: white;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: var(--fs);
}
/* END Globals and Root ------------------------------------ */
/

/* Custom Re-Usable Classes Start */
.custom-10-padding {
  padding: 0 10% 0 10%;
}

.custom-color-blue {
  color: var(--myBlue);
}

.custom-100vh {
  width: 100%;
  height: 100vh;
}

.custom-primary-font {
  font-family: var(--fs);
}

.custom-txt-light {
  color: white;
}

.custom-txt-blue {
  color: var(--myBlue) !important;
}

.custom-txt-grey {
  color: var(--myGray) !important;
}

.custom-bg-dark {
  background-color: black;
}

.custom-fw-extra-light {
  font-weight: lighter;
}

.custom-margins-body {
  margin: 0 50px 0 50px;
}

.custom-padding-body {
  padding: 50px;
}

/* Custom Re-usable Classes End */

/* Navbar ------------------------------------------------------ */
.nav-link:hover {
  color: var(--myBlue);
}

.custom-navbar {
  border-bottom: 1px solid white;
}

.custom-hamburger-button {
  filter: invert(100%);
}

.custom-logo {
  font-size: 30px;
  margin: 15px 30px 15px 5px;
  transform: rotate(-25deg);
}
/* END Navbar ------------------------------------------------------ */

/* Header Start */

/* Header Title Section Start */

.custom-header-bg {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/media/moon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-title-padding {
  padding-left: 40px;
}

.custom-title {
  font-size: 4vw;
}

.custom-sub-title {
  font-size: 1.3vw;
}

/* Header Title Section End */

/* Header Number Section Start */

.custom-n-card {
  width: 100%;
  border-bottom: 2px solid var(--myBlue);
}

.custom-n-card-box {
  padding: 1vw;
}

.custom-number-size {
  font-size: 40px;
}

.custom-up-number-size {
  font-size: 20px;
}

/* Header Number Section End */

/* Header Arrow Start */

.arrow-position {
  width: 0;
  left: 0;
  right: 0;
  top: 80%;
  margin: 0 auto;
}
/* Header Arrow End */

/* Header End */

/* Main Section 01 Start */

.custom-section-box-line {
  width: 100%;
  height: 2px;
  background-color: var(--myBlue);
}

/* Main Section 01 End */

/* Main Section 02 Start */

.custom-section-2 {
  height: 100vh;
}

.custom-middle-section-box {
  padding: 0 10% 0 10%;
}

/* Main Section 02 End */

/* Main Section 03 Start */

.rocket-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.rocket-box {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.rocket-img {
  height: 100%;
}

.rocket-padding {
  padding: 10%;
}

/* Main Section 03 End */

/* Main Section 04 Start */

.custom-box-section-4 {
  width: 47%;
  height: 300px;
  padding: 0 50px;
}

.custom-button-box-left {
  display: flex;
  justify-content: end;
}

.custom-button-box-right {
  display: flex;
  justify-content: end;
}

.custom-button {
  padding: 20px 60px;
  background-color: transparent;
  position: relative;
  transition: 0.2s;
  border: none;
}

.border-box1 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-top: 2px solid var(--myBlue);
  border-left: 2px solid var(--myBlue);
  top: 0px;
  left: 0px;
}

.border-box2 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-top: 2px solid var(--myBlue);
  border-right: 2px solid var(--myBlue);
  top: 0px;
  right: 0px;
}

.border-box3 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-bottom: 2px solid var(--myBlue);
  border-left: 2px solid var(--myBlue);
  bottom: 0px;
  left: 0px;
}

.border-box4 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-bottom: 2px solid var(--myBlue);
  border-right: 2px solid var(--myBlue);
  bottom: 0px;
  right: 0px;
}
/* Main Section 04 End */

/* Footer Section ---------------------------------- */
.custom-footer {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/media/sunrise-1765027_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-footer-line {
  width: 60%;
  height: 6px;
  margin: 100px 0;
  border-radius: 50%;
  background: linear-gradient(90deg, black, #2b9df4, black);
}

.custom-footer-link:hover {
  color: var(--myBlue);
}
/* END Footer Section ---------------------------------- */
