/* Globals and Root ------------------------------------ */
:root {
  --myBlue: #2b9df4;
  --myGray: #4b4b4b;
  --fp: 'Jura', sans-serif;
  --fs: 'Orbitron', sans-serif;
}

* {
  font-family: var(--fp);
  color: white;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--fs);
}

.padding-x {
  padding: 0 10% 0 10%;
}

.myBlue-var {
  color: var(--myBlue);
}

.custom-100vh {
  width: 100%;
  height: 100vh;
}

.font-orbitron {
  font-family: var(--fs);
}

.text-white {
  color: white;
}

.text-myBlue {
  color: var(--myBlue) !important;
}

.text-myGray {
  color: var(--myGray) !important;
}

.bg-black {
  background-color: black;
}

.fw-lighter {
  font-weight: lighter;
}

.extra-margin {
  margin: 0 50px 0 50px;
}

.extra-padding {
  padding: 50px;
}
/* END Globals and Root ------------------------------------ */

/* Navbar ------------------------------------------------------ */
.nav-link:hover {
  color: var(--myBlue);
}

.custom-navbar {
  border-bottom: 1px solid white;
}

.custom-hamburger-button {
  filter: invert(100%);
}

.custom-logo {
  font-size: 30px;
  margin: 15px 30px 15px 5px;
  transform: rotate(-25deg);
}
/* END Navbar ------------------------------------------------------ */

/* Header -------------------------------------------------- */
.header-bg {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./media/moon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-padding {
  padding-left: 40px;
}

.title {
  font-size: 4vw;
}

.subtitle {
  font-size: 1.3vw;
}

.my-card {
  width: 100%;
  border-bottom: 2px solid var(--myBlue);
}

.my-card-box {
  padding: 1vw;
}

.num-size {
  font-size: 40px;
}

.num-size-sup {
  font-size: 20px;
}

.arrow-position {
  width: 0;
  left: 0;
  right: 0;
  top: 80%;
  margin: 0 auto;
}
/* END Header -------------------------------------------------- */

/* Section-1 ---------------------------------------------------- */
.section-1-line {
  width: 100%;
  height: 2px;
  background-color: var(--myBlue);
}
/* END Section-1 ---------------------------------------------------- */

/* Section-2 ---------------------------------------------------- */
.section-2 {
  height: 100vh;
}

.section-2-box {
  padding: 0 10% 0 10%;
}
/* END Section-2 ---------------------------------------------------- */

/* Section-3 ---------------------------------------------------- */
.rocket-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.rocket-box {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.rocket-img {
  height: 100%;
}

.rocket-padding {
  padding: 10%;
}
/* END Section-3 ---------------------------------------------------- */

/* Section-4 ---------------------------------------------------- */
.section-4-box {
  width: 47%;
  height: 300px;
  padding: 0 50px;
}

.my-button-box-left {
  display: flex;
  justify-content: end;
}

.my-button-box-right {
  display: flex;
  justify-content: end;
}

.my-button {
  padding: 20px 60px;
  background-color: transparent;
  position: relative;
  transition: 0.2s;
  border: none;
}

.border-box1 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-top: 2px solid var(--myBlue);
  border-left: 2px solid var(--myBlue);
  top: 0px;
  left: 0px;
}

.border-box2 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-top: 2px solid var(--myBlue);
  border-right: 2px solid var(--myBlue);
  top: 0px;
  right: 0px;
}

.border-box3 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-bottom: 2px solid var(--myBlue);
  border-left: 2px solid var(--myBlue);
  bottom: 0px;
  left: 0px;
}

.border-box4 {
  height: 15px;
  width: 15px;
  position: absolute;
  border-bottom: 2px solid var(--myBlue);
  border-right: 2px solid var(--myBlue);
  bottom: 0px;
  right: 0px;
}
/* END Section-4 ---------------------------------------------------- */

/* Footer Section ---------------------------------- */
.custom-footer {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./media/sunrise-1765027_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-footer-line {
  width: 60%;
  height: 6px;
  margin: 100px 0;
  border-radius: 50%;
  background: linear-gradient(90deg, black, #2b9df4, black);
}

.custom-footer-link:hover {
  color: var(--myBlue);
}
/* END Footer Section ---------------------------------- */
